
#createIdearForm{
	width: 600px;
	height: 300px;
	align: center;
	padding-left: 200px;
    font-size: 15px;

}

#createIdearForm fieldset{
	width: 500px;
	height: 280px;
}

#int{
	padding-left:15px;
	padding-top:15px;
}

#int span{
   padding-left:22px;
	
}
.normal_input_text{
	width:170px;
	height:22px;
}

#int em {
padding-left: 20px;
padding-right: 10px;
}