@import url("/ShareIdear/styles/base_framework.css");
#formDiv{
	width: 600px;
	height: 300px;
	align: center;
	padding-left: 200px;
    font-size: 15px;

}

#createIdearForm fieldset{
	width: 500px;
	height: 280px;
}

